<section class="site-footer__community wrapper">
	<div class="">
		<div class="two-col-grid">
			<div>
				<h4>Want to help VVDC Out?</h4>
				<a href="#" rel="noopener" class="button button__primary"
					>Donate</a
				>
			</div>
			<div>
				<h4>Want to help VVDC Out?</h4>
				<a href="#" rel="noopener" class="button button__primary"
					>Send us a message</a
				>
			</div>
		</div>
	</div>
</section>
