<section>
	<div class="wrapper">
		<div class="two-col-grid">
			<div>
				<h2>{{ pageHeading }}</h2>
				<p>{{ pageBody }}</p>
			</div>
			<figure class="noise">
				<img src="{{ pageImage }}" alt="{{ pageImageAlt }}" />
			</figure>
		</div>
	</div>
</section>
