<section>
  <div class="wrapper">
    <div class="two-col-grid">
      <div>
        <h2>Newsletter</h2>
        <div class=""><form
          action="https://buttondown.email/api/emails/embed-subscribe/washingtonvicevirtue"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/washingtonvicevirtue', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
          <label for="bd-email">Enter your email</label>
          <input type="email" name="email" id="bd-email">
          <input type="hidden" value="1" name="embed"></input>
          <input type="submit" value="Subscribe"></input>
          <p>
            <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
          </p>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>