<footer class="site-footer">
	<div class="site-footer__links">
		<div class="wrapper">
			<div class="two-col-grid">
				<div>
					<nav>
						<ul>
							<li><a href="/home" rel="noopener">Home</a></li>
							<li><a href="/about" rel="noopener">About</a></li>
							<li><a href="/events" rel="noopener">Events</a></li>
							<li>
								<a href="/community" rel="noopener"
									>Community</a
								>
							</li>
							<li>
								<a
									href="https://raven.gg/supporters/washingtonvicevirtue/"
									rel="noopener"
									>Shop</a
								>
							</li>
						</ul>
					</nav>
					<small>{{ site.copyright }}</small>
				</div>
				<div>
					<h4>Connect with Us</h4>
					<nav>
						<ul>
							<li>
								<a href="#" rel="noopener"
									><i class="fab fa-discord"></i
								></a>
							</li>
							<li>
								<a href="#" rel="noopener"
									><i class="fab fa-twitter-square"></i
								></a>
							</li>
							<li>
								<a href="#" rel="noopener"
									><i class="fab fa-instagram"></i
								></a>
							</li>
							<li>
								<a href="#" rel="noopener"
									><i class="fab fa-facebook-square"></i
								></a>
							</li>
							<li>
								<a href="#" rel="noopener"
									><i class="fab fa-youtube-square"></i
								></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>
