<header class="site-header">
	<div class="wrapper">
		<div class="two-col-grid">
			<figure class="logo">
				<a href="/" rel="noopener">
					<svg
						width="48"
						height="48"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M22.351 6.174l-1.616 3.224c-5.465.793-7.076 1.05-7.105 1.083-.03.032 1.111 1.19 2.534 2.574l2.587 2.515c-.925 5.36-1.18 6.975-1.162 7.046.019.079 1.266-.517 3.17-1.514 1.726-.905 3.186-1.644 3.245-1.644.058 0 1.518.74 3.245 1.644 1.905.997 3.152 1.593 3.17 1.514.017-.071-.237-1.685-.565-3.588l-.597-3.458c4.01-3.899 5.15-5.057 5.12-5.09-.029-.031-1.64-.288-3.58-.57l-3.526-.512c-2.45-4.92-3.194-6.37-3.234-6.398-.04-.027-.8 1.402-1.688 3.174h.002zM.005 11.554L0 12.59l9.428 33.148 9.025-.057 4.754-16.705-.052-7.263c-4.413 2.331-5.78 3.079-5.881 3.166-.126.108-.548 1.525-1.286 4.31a527.221 527.221 0 01-1.275 4.763c-.097.338-.213.613-.257.612-.044 0-1.38-5.257-2.969-11.68a7944.633 7944.633 0 00-2.979-12.023l-.09-.346H.012m39.548.08c-.024.043-1.373 5.442-2.996 11.997-1.624 6.554-2.984 11.952-3.021 11.996-.037.043-.638-2.064-1.333-4.682-.696-2.619-1.305-4.832-1.352-4.92-.047-.088-1.416-.861-3.043-1.718l-2.958-1.557-.051 7.372 4.737 16.6 8.987.053c.154-.537 2.286-8.03 4.835-16.998C47.923 12.703 48 12.416 48 11.474v-.957c-6.507 0-8.416.036-8.439.08l-.001-.001z"
							fill="#990034"
							fill-rule="nonzero"
						/>
					</svg>
				</a>
			</figure>
			<nav>
				<ul class="links">
					<li class="link">
						<a class="anchor" href="/about/" rel="noopener"
							><span><i class="fas fa-info-circle"></i></span>
							About</a
						>
					</li>
					<li class="link">
						<a class="anchor" href="/events/" rel="noopener"
							><span><i class="fas fa-calendar-day"></i></span>
							Events</a
						>
					</li>
					<li class="link">
						<a class="anchor" href="/community/" rel="noopener"
							><span><i class="fas fa-users"></i></span>
							Community</a
						>
					</li>
					<li class="link">
						<a
							class="anchor"
							href="https://raven.gg/supporters/washingtonvicevirtue/"
							rel="noopener"
							><span><i class="fas fa-shopping-basket"></i></span>
							Shop</a
						>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<section
		style="
			background-image: url('/assets/images/justice-photobooth-backdrop-mr.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		"
		class="hero"
	>
		<div class="hero-content">
			<div class="vvdc-logo">
				<div class="vvdc-wordmark">
					<p class="vvdc-wordmark__title">Washington</p>
					<p class="vvdc-wordmark__subtitle">Vice &amp; Virtue</p>
				</div>
				<div class="vvdc-tagline">
					<p class="vvdc-tagline__header">Washington Justice</p>
					<p class="vvdc-tagline__subheader">Official Fan Group</p>
				</div>
			</div>
		</div>
		<div class="hero-overlay noise"></div>
	</section>
</header>
