---
title: Home
layout: home
pageHeading: "We are VVDC"
pageBody: "VVDC is organized and run by a group of dedicated volunteers from across the globe. Established in 2018, VVDC has helped develop a base of support for the Justice by organizing watch parties, developing sites for fan discussion, and supporting local charitable organizations. We are proud to work closely with the Justice on supporting their mission to develop a community of fans."
pageImage: "/assets/images/vv-crew-homestand-1.jpg"
pageImageAlt:
permalink: /
---

{% include blocks/newsletter %}
{% include blocks/social %}
