---
layout: base
---

<main class="site-content three-col-grid">
	<span class="hero-bar">
		<div class="hero-bar__left ticker">
			<p class="">
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
			</p>
		</div>
	</span>
	<article class="">
		{% include blocks/introduction %}
		{{ content }}
		{% include blocks/call-to-action %}
	</article>
	<span class="hero-bar">
		<div class="hero-bar__right ticker">
			<p class="">
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
				<span>Vice &amp; Virtue</span>
				<span class="outline outline--white-virtue"
					>#JusticeIsServed</span
				>
			</p>
		</div>
	</span>
</main>
